* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;

    background: transparent;

    font-family: inherit;
  
    text-decoration: none;
}

ol, ul, li {
    list-style:none;
    display:block;
}

table {
    border-collapse:collapse;
    border-spacing:0
}

a img {
    border: none
}

button, a {
    cursor: pointer;
    color: inherit
}

textarea {
    resize: none
}

button, input, textarea, select {
    appearance: none !important;
    -webkit-appearance: none !important;
    border-radius: 0
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    /* font-family: Futura, Trebuchet MS, Arial, sans-serif; */
}

h1 {
    height: 60px;
    position: relative;
    top: 4px;
}

h1 span {
    font-size: 60px;
}

p {
    color: #ffffff;
    font-size: 20px;
    line-height: 2;
}

/************************************* HEADER **************************************/

header {
    position: relative;
    width: 100vw;
}

div.logo {
    position: absolute;
    top: 10px;
    left: 0;
    width: 140px;
    height: 60px;
    border-radius: 0 90px 90px 0;
    background-color: #357CB9;
}

img.logo {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100px;
}

div.line {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 5vh;
    background-color: #D9AA69;
}

/************************************ NAVIGATION ************************************/

nav {
    position: absolute;
    right: 0;
    top: 20px;
    width: 70vw;
    height: 40px;
    padding: 1px;
    background-color: #357CB9;
    border-radius: 90px 0 0 90px;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

li {
    position: relative;
    display: inline-block;
    margin-top: 9px;
    text-transform: uppercase;
    padding: 2px;
    color: white;
}

a:hover {
    opacity: 50%;
}

a:focus {
    opacity: 100%;
    color: #D9AA69;
}

.fa-chevron-down {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 50%;
    color:white;
    font-size: 50px;
}

/************************************ PAYMENT ************************************/

#payment-title span {
    position: absolute;
    color: #7E1623;
    left: 10%;
}

#payment-textbox {
    padding: 3% 5% 3% 3%;
    width: 95vw;
    border-radius: 0 180px 180px 0;
    background-color: #7E1623;
}

#payment-text {
    text-align: center;
    padding: 0 5% 2%;
}

.radioBtn {
    position: relative;
    left: 0;
}

input[type="radio"] { 
    opacity: 0;
    width: 0;
}

.radioBtn label {
    display: inline-block;
    width: 18vw;
    color: white;
    font-size: 1.8em;
    font-weight: 700;
    text-align: center;
    padding: 0.8rem;
    border: 2px solid white;
}

@keyframes checkedAnim {
    0% {outline: 1px solid;}
    
    100% {outline: 2px solid;}    
}

.radioBtn input[type="radio"]:hover + label {
    animation: checkedAnim 0.5s linear forwards;
    cursor:pointer;
}

.radioBtn input[type="radio"]:checked + label {
    background-color: #D9AA69;
}

.submit {
	background-color:#D9AA69;
	border-radius: 90px;
	display: inline-block;
    width: 40vw;
    margin-top: 5vh;
    margin-left: calc(50vh - 90px);
    cursor:pointer;
	color:#ffffff;
	font-family:inherit;
	font-size: 1.2rem;
	font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
	padding:2vh 1.5vw;
	text-decoration:none;
    transition: all ease-in-out 250ms;
}

.submit:hover {
	background-color:#936424;
}

.submit:active {
    position:relative;
	top:1px;
    color: #7E1623;
}

/************************************* ABOUT *************************************/

#about {
    position: relative;
}

#about-title span {
    color: #357CB9;
    right: 10%;
    position: absolute;
}

#about-textbox {
    position: relative;
    left: 25vw;
    padding: 5%;
    box-shadow: 0 80px #357CB9;
    width: 75vw;
    border-radius: 150px 0 0 150px;
    background-color: #357CB9;
    z-index: -5;
}

.about-text {
    text-align: right;
    padding-left: 27%;
}

.goto-payment-about {
    position: relative;
    left: 71%;
    bottom: 25px;
	background-color:#D9AA69;
	border-radius: 90px;
	display: inline-block;
    width: 24vw;
	color:#ffffff;
	font-family:inherit;
	font-size: 1rem;
	font-weight: 600;
    letter-spacing: 1px;
	padding:2vh 1.5vw;
    text-align: center;
    z-index: 10;
}

.goto-payment-about:hover {
	background-color:#936424;
}

/************************************* MISSION *************************************/

#mission {
    position: relative;
    margin-top: 16%;
}

#mission-title span {
    color: #D9AA69;
    left: 10%;
    position: absolute;
}

#mission-textbox {
    padding: 5%;
    width: 55vw;
    border-radius: 0 150px 150px 0;
    background-color: #D9AA69;
}

.goto-payment-mission {
    position: relative;
    left: 1.5%;
	background-color: #7E1623;
	border-radius: 90px;
	display: inline-block;
    width: 24vw;
    margin-top: 5vh;
	color:#ffffff;
	font-family:inherit;
	font-size: 1rem;
	font-weight: 600;
    letter-spacing: 1px;
	padding:2vh 1.5vw;
    text-align: center;
}

.goto-payment-mission:hover {
	background-color:#521219;
}

/************************************* PHOTOS *************************************/

div.topPhoto {
    top: 0;
    width: 100vw;
    overflow: hidden;
    border: none;
}

.topPhoto {
    width: 100vw;
    display: block;
    border-bottom: 3vh solid #D9AA69;
    z-index: -1;
}

figure.left {
    position: absolute;
    top: 185px;
    width: 45vw;
    overflow: hidden;
    border-radius: 0 150px 150px 0;
    z-index: 0;
}

figure.right {
    position: absolute;
    top: 150px;
    left: 45vw;
    width: 55vw;
    overflow: hidden;
    border-radius: 90px 0 0 0;
    z-index: -2;
}

figure > img {
    display: block;
    width: 100%;
    min-height: 100%;
}    

/************************************* FOOTER *************************************/

footer {
    position: relative;
    top: 268px;
    width: 100vw;
    height: 300px;
    background-color: #000000;
}

div#social {
    width: 100vw;
    text-align: center;
}

.fab {
    color: #a0a0a0;
    font-size: 30px;
    margin: 50px 10px 0 10px;
}

.fab:hover {
    opacity: 0.7;
}

div#left, div#right {
    display: inline-block;
    width: 49%;
    padding: 25px;
}

div#left p {
    text-align: right;
    font-size: smaller;
    color: #a0a0a0;
}

div#right {
    position: relative;
    transform: translateY(-30%);
    text-align: left;
}

#footer-bottom {
    text-align: center;
    color:#a0a0a0;
    font-size: smaller;
}

input#subscribeEmail {
    width: 350px;
    height: 45px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 90px;
    background-color: #e9e9e9;
    color: black;
    font-size: 1.2em;
}

input#subscribeEmail:focus {
    outline: #D9AA69 2px solid;
}

div#right label {
    display: inline-block;
    padding-bottom: 10px;
    color: #D9AA69;
}

.submit-subscribe {
    transform: translate(10px, -2px);
    width: 200px;
    height: 45px;
    background-color:#D9AA69;
    border-radius:90px;
    cursor:pointer;
    color:#ffffff;
   
    font-size: 1rem;
    text-transform: uppercase;
} 

.submit-subscribe:hover {
    background-color: #936424;
}

section {
    margin-top: 100px;
}